### Lists

In [5]:
'''Write a program to calculate the sum of all elements in a list.'''
list1 = list(range(1,20,2))
sum_list = sum(list1)
sum_list

100

In [6]:
'''Create a program that finds the maximum and minimum values in a list.'''
print(f'Max in the list is {max(list1)} and minimum is {min(list1)}')

Max in the list is 19 and minimum is 1

In [7]:
'''Write a program to reverse the elements of a list.'''
print(f'The reversed list is here: {list1[::-1]}')

The reversed list is here: [19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [10]:
'''Implement a program that removes duplicate elements from a list'''
nums = [1,2,3,3,4,4,5,6,7,8,8,8]
result = []
for i in nums:
    if i not in result:
        result.append(i)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
'''Practice list comprehensions to filter, transform, or generate new lists from existing ones.'''
newnums = [a*a for a in nums]
print(newnums)

[1, 4, 9, 9, 16, 16, 25, 36, 49, 64, 64, 64]

In [15]:
oddnums = [num for num in nums if num % 2 != 0]
oddnums

[1, 3, 3, 5, 7]

In [17]:
'''Given a list of strings, create a list of their respective lengths using list comprehension.'''
words = ['abe', 'lcdk', 'vpn']
lens = [len(a) for a in words]
lens

[3, 4, 3]

In [19]:
'''Transform a list of strings to uppercase using list comprehension.'''
ups = [a.upper() for a in words]
ups

['ABE', 'LCDK', 'VPN']

#### Tuples

In [23]:
'''Write a program to unpack the elements of a tuple into separate variables'''
tups = ('Anzie', 'Prarie View', '8')
#tuple unpacking
name,school,age = tups
name

'Anzie'

In [24]:
'''Concatenate two tuples to create a new tuple.'''
a = (1,2,3)
b = (4,5,6)
c = a+b
c

(1, 2, 3, 4, 5, 6)

In [27]:
a[0]

1

In [29]:
a.index(1)

0

In [ ]:
'''Swap the values of two variables using tuple assignment.'''

#### Dictionary

In [17]:
my_dict = dict(name='John', age=30, city='New York')
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [2]:
type(my_dict)

dict

In [3]:
name = my_dict['name']  # Accessing 'name' key
age = my_dict.get('age')  # Using get() method
print(f"His name is {name} and he is {age} years old.")

His name is John and he is 30 years old.

In [4]:
my_dict['age'] = 31  # Update the 'age' value

In [10]:
my_dict['city'] = 'New York'  # Add a new key-value pair
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

In [13]:
my_dict.pop('age')  # Remove 'age' key
my_dict.popitem()   # Remove and return an arbitrary key-value pair

('city', 'New York')

In [16]:
my_dict

{'name': 'John'}

In [19]:
my_dict['name'] # you can't access a dictionary like lists mylist[]

'John'

In [14]:
for key in my_dict:
    print(key, my_dict[key])

for value in my_dict.values():
    print(value)

for key, value in my_dict.items():
    print(key, value)

name John
John
name John

#### Sets